<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="RoutingServiceBehavior" name="System.ServiceModel.Routing.RoutingService">
        <endpoint address="http://localhost:10000/Router/FromMain" binding="wsHttpBinding" name="FromMainRoutingServiceEndpoint" contract="System.ServiceModel.Routing.IRequestReplyRouter" />
        <endpoint address="http://localhost:10000/Router/FromRegion" binding="wsHttpBinding" name="FromRegionRoutingServiceEndpoint" contract="System.ServiceModel.Routing.IRequestReplyRouter" />
      </service>
      <service name="RouterHost.RouterHostImplementation">
        <endpoint address="http://localhost:10000/Router" binding="wsHttpBinding" contract="RouterInterfaces.IRouterHost" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="RoutingServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <routing filterTableName="routingRules" routeOnHeadersOnly="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <routing>
      <filters>
        <filter name="ToRegionOfficeEndpoint" filterType="EndpointName" filterData="FromMainRoutingServiceEndpoint" />
        <filter name="Region1Pattern" filterType="XPath" filterData="boolean(//*[local-name()= 'OfficeName']/text() = 'Region1')" />
        <filter name="Filter_Region1" filterType="And" filter1="Region1Pattern" filter2="ToRegionOfficeEndpoint" />
      </filters>
      <filterTables>
        <filterTable name="routingRules">
          <add filterName="Filter_Region1" endpointName="Region1Endpoint" />
        </filterTable>
      </filterTables>
    </routing>
    <client>
      <endpoint binding="basicHttpBinding" contract="*" address="http://localhost:8080/Region1/IRegionOffice" name="Region1Endpoint" />
    </client>
  </system.serviceModel>
</configuration>