<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<client>
			<endpoint name="FromMainCoordinationEndpoint"
					  address="http://localhost:10000/Router/FromMain"
					  binding="wsHttpBinding"
					  contract="RouterInterfaces.IRegionOffice"/>
			<endpoint name="RouterEndpoint"
					  address="http://localhost:10000/Router"
					  binding="wsHttpBinding"
					  contract="RouterInterfaces.IRouterHost"/>
		</client>
	</system.serviceModel>
</configuration>